body {
/*	background-color: rgb(19,112,114);*/
	background-color: #FFF;
	font-family: Arial;
	/*background-image: url(../img/grey_wash_wall.png);*/
}

header {

}

.col-md-4 p {
	/*padding: 10px;*/
}

.container {
	/*background-color: #FFF;*/
/*	background-color: rgb(251, 255, 192);*/

	margin: 0 auto;
	margin-top: 20px;
	width: 75%;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
 	border-radius: 5px;
}

header {

}

header .nav {
	padding-top: 25px;
	padding-bottom: 10px;
}

header .nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-family: Arial;
	background-color: rgb(0,139,116);
}


nav a:link,
nav a:visited {
	text-decoration:none;
}

header .nav a:hover {
	background-color: rgb(0, 166, 122);
}
/*
.content-area {
	width: 100%
	margin-left:none;
	margin-right: none;
	background-color: #FFF;
}*/
.content {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFF;
	width:100%;
}

.content h1 {
	font-size: 150%;
	font-weight: bold;
}
.content .main-pic {
	width: 400px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;

}

.item img {
	border-radius: 20px;
}

footer {

}

footer p {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

p b {
	font-weight: bold;
}

.content p {
	margin-top: 5px;
}

.carousel {
	height: auto;
}

@media screen and (max-width: 767px) {
	.carousel {
		display: none;
	}
}

.template {
	display: none;
}