body {
	background-color: #CCC;
	font-family: Arial;
	background-image: url(../img/grey_wash_wall.png);
}

header {

}

.col-md-4 p {
	padding: 10px;
}

.container {
	background-color: #FFF;
	box-shadow: 2px 2px 5px #555;
	margin: 0 auto;
	margin-top: 20px;
	width: 75%;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
}

header {

}

header .nav {
	padding-top: 25px;
}

.content {

}

.carousel {
}

.item img {
	border-radius: 20px;
}

.left.carousel-control {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.right.carousel-control {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

footer {

}

footer p {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

p b {
	font-weight: bold;
}

.content p {
	margin-top: 5px;
}

@media screen and (max-width: 767px) {
	.carousel {
		display: none;
	}
}